<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>v_show</title>
	</head>
	<body>
		
		<div id="app">
			<form>
				<div class="error" v-show="!message">You must enter a message to submit</div><!--只是隐藏（dispaly：none）-->
				<!--<div class="error" v-if="!message">You must enter a message to submit</div>--><!--会直接删除这个标签-->
				<textarea v-model="message"></textarea>
				<br />
				<button v-show="message">Send message</button>
			</form>
			
			<pre>
				{{ $data | json }}
			</pre>
			
		</div>
		
		<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el:'#app',
				data:{
					message:''
				}
				
			})
		</script>
		
	</body>
</html>
